* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    @include font(17, 31);
    font-family: $pop;
    color: $text;
    background: #181818;

    @include breakpoint(768) {
        @include font(16, 30);
    }
}

// admin style start
.admin-bar {
    header {
        top: 32px;

        @include breakpoint(768) {
            top: 46px;
        }
    }
}

.d-none {
    display: none !important;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: right !important;
}
.text-start {
    text-align: left !important;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
    gap: 10px;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

.unstyle {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}
.margin_bottom-0 {
    margin-bottom: 0 !important;
}
.cursor-pointer {
    cursor: pointer;
}

.transition {
    transition: all 0.3s ease;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.mid-align {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.margin-0 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        margin: 0;
    }
}

.m-auto {
    margin: 0 auto;
}
@media only screen and (min-width: 1025px) {
    .hide-desktop {
        display: none !important;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hide-tab {
        display: none !important;
    }
}
@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
    .text-center-mobile {
        text-align: center;
        justify-content: center;
    }
}

.hide

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $pop;
    font-weight: 700;
}

h1,
h2,
h3 {
    background: linear-gradient(99.23deg, #7970E9 39.51%, #A08DF3 47.5%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
        -webkit-text-fill-color: $primary;
    }
}

h1,
h2 {
    @include font(50, 62);

    @include breakpoint(1024) {
        @include font(40, 52);
    }
    @include breakpoint(768) {
        @include font(30, 42);
    }
}
h3 {
    @include font(24, 36);

    @include breakpoint(1024) {
        @include font(22, 34);
    }
    @include breakpoint(768) {
        @include font(20, 32);
    }

}

h4 {
    @include font(22, 34);

    @include breakpoint(1024) {
        @include font(20, 32);
    }
    @include breakpoint(768) {
        @include font(18, 30);
    }
}

.container {
    width: 100%;
    max-width: 1475px;
    margin: 0 auto;
    padding: 0 25px;
}
.hero-bg {
    background-image: url(../images/Salon-Boss-hreo-bg.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}
.sb-header-gutter {
    .container{
        padding-top: var(--header-height);
    }
}