
// Header style 
.sb-header {
    overflow-x: clip;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    
    .sb-main-header {
        padding: 65px 0;

        @include breakpoint(12080) {
            padding: 40px 0;
        }
        @include breakpoint(1024) {
            padding: 20px 0;
        }

        .sb-logo-side {
            .sb-logo {
                @extend .d-flex;
                img {
                    width: 100%;
                    max-width: 150px;
                    @extend .transition;
                }
            }
        }

        .hamburger-menu {
            width: 30px;
            height: 24px;
            @extend .d-flex;
            flex-direction: column;
            gap: 7px;
            
            span {
                width: 100%;
                height: 3px;
                background: $secondary;
            }
            
        }
        .sb-menu-side {

            @include breakpoint(1024) {
                position: absolute;
                background: $secondary;
                width: 100%;
                left: 200%;
                top: var(--header-height);
                padding: 50px 25px;
                border-radius: 0 0 20px 20px;

                @include breakpoint(768) {
                    padding: 35px 25px;
                }
                @include breakpoint(575) {
                    padding: 25px;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                @extend .d-flex;
                align-items: center;
                gap: 40px;

                @include breakpoint(1280) {
                    gap: 25px;
                }
                @include breakpoint(1024) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                }

                li {
                    list-style: none;

                    a {
                        display: block;
                        padding: 10px;
                        @include font(16, 20);
                        font-family: $pop;
                        font-weight: 400;
                        color: #DCCCF6;
                        @extend .transition;

                        @include breakpoint(1024) {
                            padding-left: 0;
                        }

                        &:hover {
                            color: $primary;
                        }
                    }
                    &.current-menu-item{
                        a{
                            color: $primary;
                        }
                    }
                    &.sb-book-btn {
                        
                        a {
                            @include font(18, 20);
                            font-weight: 600;
                            text-transform: capitalize;
                            @extend .flex-center;
                            gap: 12px;
                            padding: 9px 15px;
                            color: #070825;
                            background: #FBDCD1;
                            border-radius: 100px;
                            @extend .transition;
                            position: relative;

                            @include breakpoint(1024) {
                                margin-top: 10px;
                            }

                            &::before {
                                content: url(../images/vectors/phone-icon.svg);
                                width: 38px;
                                height: 38px;
                                @extend .transition;
                            }
                            &:hover {
                                background: $secondary;
                                color: #fff;

                                &::before {
                                    filter: invert(1);
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    &.sticky {
        background: #181818;
        box-shadow: 0 0 16px 0 rgb(255 255 255 / 25%);
        
        .sb-main-header {
            padding: 30px;

            @include breakpoint(12080) {
                padding: 20px 0;
            }
            @include breakpoint(1024) {
                padding: 10px 0;
            }

            .sb-logo-side {
                .sb-logo {
                    img {
                        width: 80%;
                    }
                }
            }

            .sb-menu-side {
                @include breakpoint(1024) {
                    margin-top: -38px;
                }
            }
        }
    }
    &.sb-mobile-menu-active {

        @include breakpoint(1024) {
            .hamburger-menu {
                position: relative;
    
                span {
                    position: absolute;
                    left: 0;
                    top: calc(50% - 1.5px);
    
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
            
            .sb-main-header {
                .sb-menu-side {
                    left: 0;
                }
            }
        }

    }
}