@import './mixin';
@import './global';
@import './header';
@import './footer';


// ********** Home Page Style *********** //
// Home Hero Style 
.hero-home {
    margin-top: 30px;

    .sb-row {
        gap: 80px;

        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 50px;
        }

        .sb-hero-content {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
            
            h1 {
                color: $white;
                @include font(65, 84);

                @include breakpoint (1024) {
                    @include font(50, 62);
                }

                @include breakpoint (768) {
                    @include font(40, 52);
                }

                span {
                    -webkit-text-fill-color: $primary;
                }
            }

            .sb-buttons {
                column-gap: 8px;
                row-gap: 15px;

                @include breakpoint(768) {
                    flex-direction: column;
                }
            }
            .sb-trusted-customer {
                padding-top: 85px;

                @include breakpoint(1024) {
                    padding-top: 40px;
                }

                h5 {
                    @include font(15, 27);
                    color: $white;
                    letter-spacing: 0.16px;
                }
                .trusted-customer-logo {
                    gap: 40px;
                    flex-wrap: wrap;

                    @include breakpoint(1024) {
                        gap: 20px;
                    }
                }
            }
        }
        .hero-image {
            width: 40%;
            flex-grow: 1;
            padding-bottom: 70px;

            @include breakpoint(1024) {
                width: 100%;
                padding-bottom: 40px;
            }
    
            img {
                width: 100%;
                max-width: 606px;
            }
        }
    }
}

// Service slider style 
.sb-service-slider {
    background: $primary;
    padding: 22px 0;
    width: 100%;
    overflow: hidden; 
    position: relative; 

    .inner-slider {
        display: inline-flex;
        white-space: nowrap;
    }

    p {
        background: $white;
        color: $black;
        @include font(17, 29);
        font-weight: 700;
        text-transform: uppercase;
        padding: 6px 10px;
        text-align: center;
        margin: 0 22px 0 0;
        border-radius: 5px;
        min-width: 60px;
    }
}

// Who We Help style 
.sb-who-we-help {
    margin: 200px 0 40px;

    @include breakpoint(1024) {
        margin-top: 100px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .sb-row {
        gap: 28px;
        
        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 40px;
        }
        .sb-section-title {
            width: 40%;
            flex-grow: 1;
        
            @include breakpoint(1024) {
                width: 100%;
            }
            .sb-media {
                @extend .d-flex;
                width: 100%;
                max-width: 530px;
                background: linear-gradient(103.74deg, #7970E9 61.34%, #A08DF3 73.28%);
                border-radius: 215px 215px 0 0;
                margin-top: 40px;
    
                @include breakpoint(1024) {
                    margin: 40px auto 0;
                }
        
                img {
                    margin-top: -40px;
                    margin-left: -60px;
        
                    @include breakpoint(768) {
                        margin: 0;
                    }
                }
            }
        }

        .sb-service-list {
            width: 40%;
            flex-grow: 1;
            @extend .d-flex, .flex-col;
            gap: 55px;


            @include breakpoint(1024) {
                width: 100%;
                gap: 40px;
            }
        }
    }
}

// Services Overview Style 
.services-overview {
    background-image: url(../images/Salon-Boss-section-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 200px 0 40px;
    
    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .container {
        max-width: 1680px;

        .sb-section-title {
            width: 100%;
            max-width: 840px;
            margin: 0 auto;
        }
        .overview-card-list {
            margin-top: 90px;
            column-gap: 35px;
            row-gap: 65px;

            @include breakpoint(1024) {
                row-gap: 40px;
                margin-top: 50px;
            }
            @include breakpoint(575) {
                row-gap: 25px;
                margin-top: 30px;
            }
        }
    }

}

.sb-about {
    margin: 180px 0 80px;

    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .sb-row {
        gap: 80px;

        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 50px;
        }
        @include breakpoint(768) {
            gap: 40px;
        }

        .sb-section-title{
            width: 53%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
            .sb-row {
                margin: 5px 0 28px;
                gap: 20px;
                flex-wrap: wrap;

                .sb-simple-card{
                    width: 40%;
                    flex-grow: 1;
                    background: #fff;
                    padding: 25px 20px 5px;

                    @include breakpoint(1280) {
                        width: 100%;
                    }
                    @include breakpoint(1024) {
                        width: 40%;
                    }
                    @include breakpoint(768) {
                        width: 100%;
                    }


                    h5 {
                        @include font(20, 30);
                        font-weight: 600;
                        color: #000;
                    }
                    p {
                        color: #5B5B5B;
                    }
                }
            }
            .sb-buttons {
                gap: 18px;

                @include breakpoint(575) {
                    flex-wrap: wrap;
                }

                .more-about-btn {
                    min-width: 216px;
                }
            }
        }
        .sb-media{
            width: 42%;
            flex-grow: 1;
            margin-top: 80px;
            margin-left: 50px;
            background: linear-gradient(180deg, #FBD79A 0%, #E6B7D4 56.5%, #FFEAB3 100%);
            border-radius: 215px 215px 2px 2px;
            @extend .d-flex, .relative;

            @include breakpoint(1024) {
                width: 100%;
                max-width: 600px;
                margin: 80px auto 0;
            }

            @include breakpoint(768) {
                max-width: 100%;
                margin: 80px 0 0 50px;
            }

            @include breakpoint(575) {
                margin: 80px auto 0;
            }
            
            img {
                margin-top: -85px;
            }
            .sb-media-badge {
                padding: 16px 11px;
                background: #fff;
                box-shadow: 0px 3.69px 7.39px 0px #00000026;
                border-radius: 15px;
                position: absolute;
                left: -50px;
                bottom: 40px;

                @include breakpoint(575) {
                    width: fit-content;
                    left: 0;
                    right: 0;
                    bottom: -33px;
                    margin: 0 auto;
                }

                h4 {
                    @include font(20, 34);
                    font-weight: 500;
                    color: #191825;
                    margin: 0;

                    a {
                        color: $secondary;
                        font-size: 22px;
                        @extend .transition;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

// Resource Center style 
.resource-center-section {
    margin: 200px 0 40px;

    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }
}



// ********** Single Service Page Style *********** //

// Single service Hero Style 
.hero-single-service {
    margin-top: 150px;
    padding-bottom: 100px;

    @include breakpoint(1280) {
        margin-top: 100px;
        padding-bottom: 80px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
        padding-bottom: 60px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
        padding-bottom: 40px;
    }

    .sb-row {
        gap: 50px;

        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 40px;
        }


        .sb-hero-content {

            width: 40%;
            flex-grow: 1;

            @include breakpoint(1200) {
                width: 48%;
            }

            @include breakpoint(1024) {
                width: 100%;
            }

            h1 {
                color: $white;
                @include font(60, 72);

                @include breakpoint (1024) {
                    @include font(50, 62);
                }

                @include breakpoint (768) {
                    @include font(40, 52);
                }
            }
            .sb-buttons {
                gap: 18px;

                @include breakpoint(768) {
                    flex-direction: column;
                }
            }
        }
        .hero-image {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1200) {
                width: 30%;
            }

            @include breakpoint(1024) {
                width: 100%;
                padding-bottom: 20px;
            }
    
            img {
                width: 100%;
            }
        }
    }
}

// Single service content style 
.sb-single-service-content {
    margin-top: 90px;

    @include breakpoint(1024) {
        margin-top: 60px;
    }
    @include breakpoint(768) {
        margin-top: 40px;
    }

    .single-service-section-title {
        width: 100%;
        max-width: 910px;
        margin: 0 auto;

        h2 {
            background: linear-gradient(99.23deg, #7970E9 39.51%, #A08DF3 47.5%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            @include font(16, 30);
            color: #fff;
        }
    }
    .single-service-img-box-list {
        margin-top: 85px;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 30px;

        @include breakpoint(1024) {
            margin-top: 50px;
        }
        @include breakpoint(768) {
            margin-top: 40px;
        }

        @include breakpoint(1024) {
            row-gap: 50px;
        }

        .sb-image-box {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
        }
    }
    .sb-buttons {
        margin-top: 70px;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 20px;

        @include breakpoint(1024) {
            margin-top: 50px;
        }
        @include breakpoint(768) {
            margin-top: 40px;
        }
    }
}