@import './mixin';
@import './global';
@import './header';
@import './footer';


// Home Hero Style 

.hero-home {
    margin-top: 90px;

    @include breakpoint(1024) {
        margin-top: 60px;
    }
    @include breakpoint(768) {
        margin-top: 40px;
    }

    .container {
        gap: 80px;

        @include breakpoint(1024) {
            flex-wrap: wrap;
            grid-area: 50px;
        }

        .sb-hero-content {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
            
            h1 {
                -webkit-text-fill-color: $white;
            }

            .sb-buttons {
                column-gap: 8px;
                row-gap: 15px;

                @include breakpoint(768) {
                    flex-direction: column;
                }
            }
            .sb-trusted-customer {
                padding-top: 85px;

                @include breakpoint(1024) {
                    padding-top: 40px;
                }

                h5 {
                    @include font(15, 27);
                    color: $white;
                    letter-spacing: 0.16px;
                }
                .trusted-customer-logo {
                    gap: 40px;
                    flex-wrap: wrap;

                    @include breakpoint(1024) {
                        gap: 20px;
                    }
                }
            }
        }
        .hero-image {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
    
            img {
                width: 100%;
                max-width: 606px;
            }
        }
    }
}

// Service slider style 
.sb-service-slider {

    ul {
        background: $primary;
        padding: 22px 0;

        li {
            background: $white;
            color: $black;
            @include font(17, 29);
            font-weight: 700;
            text-transform: uppercase;
            padding: 6px 10px;
            text-align: center;
        }

        .slick-track {
            // display: flex;
            // gap: 22px;
            
            .slick-slide {
                width: fit-content !important;
                min-width: 60px;
                margin: 0 11px;
            }
        }
    }
}

// Service Policy style 
.sb-service-policy-section {
    margin-top: 200px;

    @include breakpoint(1024) {
        margin-top: 100px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .container {
        gap: 28px;
        
        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 40px;
        }

        .policy-content-side {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
            h5 {
                @include font(17, 29);
                color: #FFEAB3;
                font-weight: 700;
                letter-spacing: 0.16px;
                margin-bottom: 17px;
            }
            h3 {
                @include font(48, 62);
                -webkit-text-fill-color: $white;
                margin-bottom: 17px;

                @include breakpoint(1024) {
                    @include font(40, 52);
                }
                @include breakpoint(768) {
                    @include font(30, 42);
                }
            }
            p {
                @include font(18, 34);

                @include breakpoint(768) {
                    @include font(16, 28);
                }
            }

            .sb-image-frame {
                @extend .d-flex;
                width: 100%;
                max-width: 530px;
                background: linear-gradient(103.74deg, #7970E9 61.34%, #A08DF3 73.28%);
                border-radius: 215px 215px 0 0;
                margin: 40px 0 0 0;

                @include breakpoint(1500) {
                    margin: 40px 0 0 60px;
                }
                @include breakpoint(768) {
                    margin: 0 auto;
                }

                img {
                    margin-top: -40px;
                    margin-left: -60px;

                    @include breakpoint(768) {
                        margin: 0;
                    }
                }
            }
        }
        
        .policy-box-side {
            width: 40%;
            flex-grow: 1;
            @extend .d-flex, .flex-col;
            gap: 55px;


            @include breakpoint(1024) {
                width: 100%;
                gap: 40px;
            }
        }
    }
}