@import './mixin';
@import './global';
@import './header';
@import './footer';


// ********** Home Page Style *********** //
// Home Hero Style 
.hero-home {
    margin-top: 30px;
    &::before {
        top: 230px;
        background-image: url(../images/Salon-Boss-hreo-home-bg.png);
        
        @include minbreakpoint(1441) {
            height: 575px;
        }
    }
    .sb-row {
        gap: 80px;
        align-items: center;
        padding-bottom: 50px;

        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 50px;
            padding-bottom: 40px;
        }

        .sb-hero-content {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
            
            h1 {
                color: $white;
                @include font(65, 84);

                @include breakpoint (1024) {
                    @include font(50, 62);
                }

                @include breakpoint (768) {
                    @include font(40, 52);
                }

                span {
                    -webkit-text-fill-color: $primary;
                }
            }
            h4 {
                color: #fff;
            }
            p {
                strong {
                    color: #fff;
                }
            }

            .sb-buttons {
                column-gap: 8px;
                row-gap: 15px;

                @include breakpoint(768) {
                    flex-direction: column;
                }
            }
            .sb-trusted-customer {
                padding-top: 85px;

                @include breakpoint(1024) {
                    padding-top: 40px;
                }

                h5 {
                    @include font(15, 27);
                    color: $white;
                    letter-spacing: 0.16px;
                }
                .trusted-customer-logo {
                    gap: 40px;
                    flex-wrap: wrap;

                    @include breakpoint(1024) {
                        gap: 20px;
                    }
                    @include breakpoint(575) {
                        justify-content: center;
                    }
                }
            }
        }
        .sb-hero-image {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
    
            img {
                width: 100%;
                max-width: 606px;
            }
        }
    }
}

// Service slider style 
.sb-service-slider {
    background: $primary;
    padding: 19px 0;
    width: 100%;
    overflow: hidden; 
    position: relative; 

    .inner-slider {
        display: inline-flex;
        white-space: nowrap;
    }

    p {
        background: $white;
        color: $black;
        @include font(17, 29);
        font-weight: 700;
        text-transform: uppercase;
        padding: 6px 10px;
        text-align: center;
        margin: 0 22px 0 0;
        border-radius: 5px;
        min-width: 60px;
        box-shadow: 2px 2px 19px 0 rgb(0 0 0 / 35%);
    }
}

// Who We Help style 
.sb-who-we-help {
    margin: 200px 0 40px;

    @include breakpoint(1024) {
        margin-top: 100px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .sb-row {
        gap: 28px;
        
        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 40px;
        }
        .sb-section-title {
            width: 40%;
            flex-grow: 1;
        
            @include breakpoint(1024) {
                width: 100%;
            }
            .sb-media {
                @extend .d-flex;
                width: 100%;
                max-width: 530px;
                background: linear-gradient(103.74deg, #7970E9 61.34%, #A08DF3 73.28%);
                border-radius: 215px 215px 0 0;
                margin-top: 40px;
    
                @include breakpoint(1024) {
                    margin: 40px auto 0;
                }
        
                img {
                    margin-top: -40px;
                    margin-left: -60px;
        
                    @include breakpoint(768) {
                        margin: 0;
                    }
                }
            }
        }

        .sb-help-wrapper {
            width: 40%;
            flex-grow: 1;
            
            @include breakpoint(1024) {
                width: 100%;
                gap: 40px;
            }

            .sb-service-list {
                gap: 55px;
                @extend .d-flex, .flex-col;
    
                @include breakpoint(1024) {
                    gap: 40px;
                }
            }
            .sb-button {
                margin-top: 25px;
            }
        }
    }
}

// Services Overview Style 
.services-overview {
    background-image: url(../images/Salon-Boss-section-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 200px 0 40px;
    
    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .container {
        max-width: 1680px;

        .sb-section-title {
            width: 100%;
            max-width: 840px;
            margin: 0 auto;
        }
        .overview-card-list {
            margin-top: 90px;
            column-gap: 35px;
            row-gap: 65px;

            @include breakpoint(1420) {
                column-gap: 20px;
            }
            @include breakpoint(1024) {
                row-gap: 40px;
                margin-top: 50px;
            }
            @include breakpoint(575) {
                row-gap: 25px;
                margin-top: 30px;
            }
            .sb-card {
                width: 26%;
                flex-grow: 1;

                @include breakpoint(1280) {
                    width: 40%;
                }
                @include breakpoint(880) {
                    width: 100%;
                }
            }
        }
    }

}

// About section style 
.sb-about {
    margin: 180px 0 80px;

    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .sb-row {
        gap: 80px;

        @include breakpoint(1024) {
            flex-wrap: wrap;
            gap: 50px;
        }
        @include breakpoint(768) {
            gap: 40px;
        }

        .sb-section-title{
            width: 53%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
            .sb-row {
                margin: 5px 0 28px;
                gap: 20px;
                flex-wrap: wrap;

                .sb-simple-card{
                    width: 40%;
                    flex-grow: 1;
                    background: #fff;
                    padding: 25px 20px 5px;

                    @include breakpoint(1280) {
                        width: 100%;
                    }
                    @include breakpoint(1024) {
                        width: 40%;
                    }
                    @include breakpoint(768) {
                        width: 100%;
                    }


                    h5 {
                        @include font(20, 30);
                        font-weight: 600;
                        color: #000;
                    }
                    p {
                        color: #5B5B5B;
                    }
                }
            }
            .sb-buttons {
                gap: 18px;
                align-items: center;

                @include breakpoint(575) {
                    flex-wrap: wrap;
                }

                .more-about-btn {
                    min-width: 216px;
                    height: 64px;
                }
            }
        }
        .sb-media{
            width: 42%;
            flex-grow: 1;
            margin-top: 80px;
            margin-left: 50px;
            background: linear-gradient(180deg, #FBD79A 0%, #E6B7D4 56.5%, #FFEAB3 100%);
            border-radius: 215px 215px 2px 2px;
            @extend .d-flex, .relative;

            @include breakpoint(1024) {
                width: 100%;
                max-width: 600px;
                margin: 80px auto 0;
            }

            @include breakpoint(768) {
                max-width: 100%;
                margin: 80px 0 0 50px;
            }

            @include breakpoint(575) {
                margin: 80px auto 0;
            }
            
            img {
                margin-top: -85px;
            }
            .sb-media-badge {
                padding: 17px 23px;
                background: #fff;
                box-shadow: 0px 3.69px 7.39px 0px #00000026;
                border-radius: 15px;
                position: absolute;
                left: -51px;
                bottom: 40px;

                @include breakpoint(575) {
                    width: fit-content;
                    left: 0;
                    right: 0;
                    bottom: -33px;
                    margin: 0 auto;
                }

                h4 {
                    @include font(20, 34);
                    font-weight: 500;
                    color: #191825;
                    margin: 0;

                    a {
                        color: $secondary;
                        font-size: 22px;
                        font-weight: 700;
                        @extend .transition;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

// Resource Center style 
.resource-center-section {
    margin: 150px 0 40px;

    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .sb-card {
        max-width: 1020px;
    }
}



// ********** Single Service Page Style *********** //

// Single service Hero Style 
.hero-single-service {
    .sb-row {
        .sb-hero-content {
            h1 {
                color: $white;
                span {
                    &:first-child {
                        -webkit-text-fill-color: $primary;
                    }
                }
            }
            .sb-buttons {
                margin-top: 5px;

            }
        }
    }
}

// Single service content style 
.sb-single-service {
    margin: 90px 0 40px;

    @include breakpoint(1024) {
        margin-top: 60px;
    }
    @include breakpoint(768) {
        margin-top: 40px;
    }

    .single-service-section-title {
        width: 100%;
        max-width: 910px;
        margin: 0 auto;

        h2 {
           @extend .sb-multy-color;
        }
        p {
            @include font(16, 30);
            color: #fff;
        }
    }
    .single-service-img-box-list {
        margin-top: 85px;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 30px;

        @include breakpoint(1024) {
            margin-top: 50px;
            row-gap: 50px;
        }
        @include breakpoint(768) {
            margin-top: 40px;
        }
        .sb-image-box {
            width: 40%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }
        }
    }
    .sb-buttons {
        margin-top: 70px;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 20px;

        @include breakpoint(1024) {
            margin-top: 50px;
        }
        @include breakpoint(768) {
            margin-top: 40px;
        }
    }
}


// Case Studies style 
.sb-case-studies {
    margin: 90px 0 40px;

    @include breakpoint(1024) {
        margin-top: 60px;
    }
    @include breakpoint(768) {
        margin-top: 40px;
    }

    .container {
        max-width: 1680px;

        .sb-section-title {
            
            h2 {
                color: $primary;
            }
            
            p {
                width: 100%;
                max-width: 920px;
                margin: 0 auto;
                @include font(16, 30);
                color: #DCCCF6;
            }
        }
    
        .sb-case-studies-card-list  {
            margin-top: 80px;
            column-gap: 20px;
            row-gap: 50px;

            @include breakpoint(1024) {
                margin-top: 50px;
                row-gap: 30px;
            }
            @include breakpoint(768) {
                margin-top: 30px;
            }
    
            .sb-post-card {
                width: 26%;
                flex-grow: 1;

                @include breakpoint(1024) {
                    width: 40%;
                }
                @include breakpoint(768) {
                    width: 100%;
                }
            }
        }
    }
}

// Free Audits style 
.sb-free-seo-audit {
    margin: 155px 0 40px;

    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .sb-card {
        max-width: 1020px;
    }
}

// SB Frist Step style
.sb-first-step {
    margin: 140px 0 40px;

    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 60px;
    }

    .container {
        max-width: 1040px;

        .sb-row {
            gap: 25px;

            @include breakpoint(1240) {
                flex-direction: column;
                align-items: center;
            }
    
            .sb-first-step-card {
                background: linear-gradient(180deg, #171717 61.02%, #2C2C31 76.61%, #1B1B1C 96.03%);
                border: 1px solid $secondary;
                border-radius: 30px;
                padding: 30px 25px;

                @include breakpoint(575) {
                    padding: 20px 10px;
                }
                img {
                    width: 100%;
                    max-width: 230px;
                    margin: 0 auto;
                }
                h3 {
                    @include font(34, 51);
                    @extend .sb-multy-color;

                    @include breakpoint(1024) {
                        @include font(26, 38);
                    }

                    @include breakpoint(768) {
                        @include font(22, 34);
                    }
                }
                p {
                    @include font(16, 25);
                    color: #fff;
                    margin-bottom: 20px;
                }
                .sb-button {
                    width: 100%;
                    max-width: 380px;
                    margin: 0 auto;
                    @extend .flex-center;
                    gap: 6px;

                    &::before {
                        position: inherit;
                        top: inherit;
                        left: inherit;
                    }
                }
            }
            .sb-first-step-right-side-casrd-list {
                gap: 45px;

                @include breakpoint(1240) {
                    flex-wrap: nowrap;
                    gap: 20px;
                }
                @include breakpoint(880) {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

// Reputation Solution 

.sb-reputation-solutions {
    margin: 90px 0 40px;

    @include breakpoint(1024) {
        margin-top: 60px;
    }
    @include breakpoint(768) {
        margin-top: 40px;
    }

    .container {
        max-width: 1680px;

        .sb-section-title {
            width: 100%;
            max-width: 1005px;
            margin: 0 auto;
    
            h2 {
                @extend .sb-multy-color;
            }
            p {
                @include font(16, 30);
            }
        }
        .sb-reputation-review-list {
            padding-top: 50px;
            gap: 26px;
    
            @include breakpoint(1024) {
                padding-top: 30px;
                gap: 15px;
            }
    
            .sb-reputation-review-item {
                padding: 35px 20px 0;
                border: 1px solid $primary;
                border-radius: 30px;
                @extend .text-center;
                width: 26%;
                flex-grow: 1;
    
                @include breakpoint(1024) {
                    padding: 25px 20px 0;
                    width: 40%;
                }
                @include breakpoint(768) {
                    width: 100%;
                }
                @include breakpoint(575) {
                    padding: 25px 10px 0;
                }
    
                img {
                    width: 100%;
                    max-width: 250px;
                }
                h3 {
                    margin: 10px 0 15px;
                    @include font(24, 36);
                    font-weight: 600;
                    text-transform: uppercase;
                    @extend .sb-multy-color;
    
                    @include breakpoint(1024) {
                       margin: 5px 10px;
                       @include font(20, 32);
                    }
                }
                p {
                    color: #fff;
                }
            }
        }
    }
}

// Marketing Services style 
.sb-marketing-service {
    margin: 150px 0 40px;

    @include breakpoint(1024) {
        margin-top: 80px;
    }
    @include breakpoint(768) {
        margin-top: 50px;
    }

    .container {
        max-width: 1640px;

        .sb-section-title {

            h2 {
                @extend .sb-multy-color;
            }

            p {
                @include font(16, 30);
                width: 100%;
                max-width: 1035px;
                margin: 0 auto;
            }
        }

        .sb-marketing-service-list {
            column-gap: 70px;
            row-gap: 40px;
            padding-top: 80px;

            @include breakpoint(1280) {
                column-gap: 40px;
                padding-top: 60px;
            }
            @include breakpoint(768) {
                row-gap: 30px;
                padding-top: 30px;
            }
            @include breakpoint(575) {
                row-gap: 20px;
            }

            .sb-service-card {
                width: 40%;
                flex-grow: 1;

                @include breakpoint(1024) {
                    width: 100%;
                }
            }
        }

        .package-include {
            width: 100%;
            max-width: 1060px;
            margin: 0 auto;
            padding-top: 85px;

            @include breakpoint(1024) {
                padding-top: 50px;
            }
            @include breakpoint(768) {
                padding-top: 30px;
            }

            h4 {
                @include font(24, 36);
                color: $primary;

                @include breakpoint(1024) {
                    @include font(20, 32);
                }
            }
            p {
                @include font(16, 30);

                a {
                    color: $secondary;
                    text-decoration: underline;
                    @extend .transition;

                    &:hover {
                        color: $primary;
                    }
                }
            }
            .sb-buttons {
                padding-top: 30px;
                gap: 18px;

                .sb-button {
                    width: 100%;
                    max-width: 216px;
                }

                @include breakpoint(768) {
                    padding-top: 15px;
                }
            }
        }
    }
}

// Faq style 
.sb-faq {

    .sb-button {
        width: 100%;
        max-width: 352px;
        margin: 0 auto;

        @include breakpoint(1024) {
            margin: 30px auto 0;
        }
    }
}

// Why choose sb style

.why-choose-sb {
    margin: 90px 0 40px;

    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 50px;
    }

    .sb-row {
        gap: 100px;

        @include breakpoint(1280) {
            gap: 50px;
        }

        @include breakpoint(1024) {
            flex-wrap: wrap;
        }
        @include breakpoint(768) {
            gap: 30px;
        }

        .sb-section-title {
            width: 50%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 100%;
            }

            h2 {
                color: $primary;
            }
        }
        .sb-review-video {
            width: 33%;
            border: 1px solid $primary;
            border-radius: 30px;

            @include breakpoint(1280) {
                width: 40%;
            }
            @include breakpoint(1024) {
                width: 100%;
            }

            .sb-video {
                min-height: 246px;

                @include breakpoint(1024) {
                    min-height: 400px;
                }
                @include breakpoint(768) {
                    min-height: 270px;
                }
                @include breakpoint(575) {
                    min-height: 200px;
                }
            }

            .review-video-customer-info {
                padding: 20px;

                .review-video-customer-bio-wrapper {

                    @include breakpoint(575) {
                        flex-wrap: wrap
                    }

                    .review-video-customer-bio {

                        @include breakpoint(575) {
                            width: 100%;
                        }

                        .sb-customer-name {
                            @include font(16, 28);
                            color: $white;
                            margin: 0;
                        }
                        .sb-customer-title {
                            @include font(16, 28);
                            font-weight: 400;
                            color: $white;
                            margin: 0;
                        }
                        .sb-customer-company-name {
                            @include font(16, 28);
                            font-weight: 400;
                            color: #C5B7DD;
                            margin: 0;
                        }
                    }
                    .sb-customer-ratting {
                        gap: 10px;

                        @include breakpoint(1280) {
                            gap: 5px;
                        }

                        @include breakpoint(575) {
                            width: 100%;
                            justify-content: center;
                        }
                    }
                }
                .sb-customer-quote {
                    padding-top: 20px;

                    @include breakpoint(575) {
                        padding-top: 10px;
                    }
                    p {
                        @include font(16, 24);
                        font-weight: 700;
                        color: $white;
                        margin: 0;

                        span {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}


// ********** Service Page Style *********** //
// service hero style 
.hero-service {
    margin-top: 160px;
    padding-bottom: 150px;
    min-height: 540px;
    
    @include breakpoint(1280) {
        margin-top: 100px;
        padding-bottom: 120px;
    }
    @include breakpoint(1024) {
        margin-top: 60px;
        min-height: 450px;
        padding-bottom: 100px;
    }
    @include breakpoint(768) {
        margin-top: 30px;
        min-height: 400px;
        padding-bottom: 80px;
    }

    .service-hero-content {
        width: 100%;
        max-width: 880px;
        margin: 0 auto;

        p {
            @include font(16, 24);
            color: #fff;
            text-shadow: 0px 4px 4px #0000001A;
        }
    }
}

// Sb Service style 
.sb-service {
    margin-top: -80px;

    .container {
        max-width: 1525px;

        .sb-service-list {
            column-gap: 20px;
            row-gap: 80px;

            @include breakpoint(1024) {
                row-gap: 50px;
            }
            @include breakpoint(768) {
                row-gap: 30px;
            }
            @include breakpoint(575) {
                row-gap: 20px;
            }

            .sb-card {
                width: 40%;
                flex-grow: 1;

                @include breakpoint(1024) {
                    width: 100%;
                }

                .sb-card-contents-wrapper {

                    .sb-card-image {
                        
                        a {
                            display: block;
                            overflow: hidden;

                            img {
                                @extend .transition;
                            }
                            &:hover {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }

                    .sb-card-content {

                        .sb-service-title {
                            h3 {
                                @include font(40, 60);
                                margin-bottom: 15px;
                                color: $white;
                                @extend .transition;
                        
                                @include breakpoint(1024) {
                                    @include font(32, 44);
                                }
                                @include breakpoint(768) {
                                    @include font(26, 38);
                                }
                            }

                            &:hover {
                                h3 {
                                    color: $secondary;
                                }
                            }
                        }
                        h5 {
                            @include font(22, 36);
    
                            @include breakpoint(1024) {
                                @include font(20, 32);
                            }
                            @include breakpoint(768) {
                                @include font(18, 30);
                            }
                        }
                        ul {
                            margin-bottom: 40px;

                            @include breakpoint(1024) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Sb Our Service 
.sb-our-service {
    margin: 110px 0 40px;

    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 50px;
    }

    .sb-card {
        max-width: 1020px;
        margin-left: 140px;
        border: 1px solid $secondary;

        @include breakpoint(768) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 100px;
        }

        .sb-card-contents-wrapper {

            @include breakpoint(768) {
                flex-direction: column;
                align-items: center;
            }

            .sb-card-image {
                max-width: 280px;
                margin-left: -140px;

                @include breakpoint(768) {
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: -100px;
                }
            }
    
            .sb-card-content {

                @include breakpoint(768) {
                    width: 100%;
                }
                
                h2 {
                    color: #000;
                    text-shadow: 0px 4px 4px #0000001A;

                }
                h5 {
                    @include font(16, 24);
                    color: #000;
                    text-shadow: 0px 4px 4px #0000001A;
                }
                p {
                    width: 100%;
                    max-width: 685px;
                    margin: 0 auto;
                    padding-bottom: 16px;
                }
            }
        }
    }
}



// ********** Book A Discovery Call Page Style *********** //
.hero-book-dicovery {

    .sb-row {

        .sb-hero-content {
            h1 {
                @include font(50, 66);

                @include breakpoint(1024) {
                    @include font(40, 52);
                }

                @include breakpoint(768) {
                    @include font(32, 44);
                }
            }
        }
    }
}

// Booking form section style 
.sb-booking-form {
    margin: 150px 0 40px;

    @include breakpoint(1024) {
        margin-top: 70px;
    }
    @include breakpoint(768) {
        margin-top: 50px;
    }

    .sb-section-title {
        padding-bottom: 40px;

        @include breakpoint(1024) {
            padding-bottom: 20px;
        }
        h2 {
            color: $primary;
        }
    }
    .sb-booking-form-wrapper {
        width: 100%;
        max-width: 905px;
        margin: 0 auto;
        padding: 48px 35px 35px;
        border: 0.5px solid $primary;
        border-radius: 30px;
        background: #fff;
        background-image: url(../images/Salon-Boss-form-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint(1024) {
            padding: 25px 20px 20px;
        }
        @include breakpoint(575) {
            padding: 20px 10px;
        }

        .sb-form-condition-text {
            @include font(14, 21);
            color: $black;
            margin-bottom: 5px;
        }
    }
}

// Expectation style 
.sb-expectation {
    margin: 70px 0 40px;

    @include breakpoint(1024) {
        margin-top: 60px;
    }
    @include breakpoint(768) {
        margin-top: 40px;
    }

    .container {
        max-width: 1680px;

        .sb-section-title {

            h2 {
                @include font(45, 60);
                @extend .sb-multy-color;
    
                @include breakpoint(1024) {
                    @include font(36, 48);
                }
                @include breakpoint(768) {
                    @include font(26, 38);
                }
            }
            h4 {
                text-shadow: 0px 4px 4px #0000001A;
            }
            p {
                @include font(16, 30);
                width: 100%;
                max-width: 695px;
                margin: 0 auto;
            }
        }
        .sb-consultation-steps {
            gap: 26px;
            padding-top: 65px;

            @include breakpoint(1024) {
                padding-top: 40px;
            }
            @include breakpoint(768) {
                padding-top: 30px;
            }

            .sb-consultation-step-item {
                padding: 45px 20px 25px;
                width: 26%;
                flex-grow: 1;
                border: 1px solid $primary;
                border-radius: 30px;

                @include breakpoint (1024) {
                    width: 40%;
                }

                @include breakpoint(575) {
                    width: 100%;
                    padding: 20px 10px;
                }

                h3 {
                    @include font(156, 140);
                    font-weight: 900;
                    color: $primary;
                    margin-bottom: 45px;
                    
                    @include breakpoint(1024) {
                        @include font(100, 80);
                        margin-bottom: 30px;
                    }
                    @include breakpoint(768) {
                        @include font(80, 60);
                        margin-bottom: 20px;
                    }
                }
                h4 {
                    @include font(24, 36);
                    font-weight: 600;
                    text-transform: uppercase;
                    @extend .sb-multy-color;
                    margin-bottom: 20px;

                    @include breakpoint(1024) {
                        @include font(20, 32);
                        margin-bottom: 10px;
                    }
                    @include breakpoint(768) {
                        @include font(18, 30);
                    }
                }
                p {
                    color: #fff;
                    margin: 0;
                }
            }
        }
    }
}

// ********** Discovery Appointment Page Style *********** //

.hero-discovery-appointment {
    margin-top: 120px;
    padding-bottom: 75px;

    @include breakpoint(1280) {
        margin-top: 80px;
    }
    @include breakpoint(1024) {
        margin-top: 60px;
        padding-bottom: 60px;
    }
    @include breakpoint(768) {
        margin-top: 30px;
        padding-bottom: 40px;
    }

    .sb-row {
        flex-direction: column;

        .sb-hero-image {
            width: 100%;
            max-width: 460px;
        }
        .sb-hero-content {
            width: 100%;
            max-width: 825px;
        }
    }
}

// ********** Discovery Confirmed Page Style *********** //

.hero-discovery-confirmed {
    margin-top: 120px;
    padding-bottom: 75px;

    @include breakpoint(1280) {
        margin-top: 80px;
    }
    @include breakpoint(1024) {
        margin-top: 60px;
        padding-bottom: 60px;
    }
    @include breakpoint(768) {
        margin-top: 30px;
        padding-bottom: 40px;
    }

    .sb-row {
        flex-direction: column;

        .sb-hero-video {
            width: 100%;
            max-width: 855px;

            .sb-card {
                .sb-video {
                    min-height: 510px;
                    @include breakpoint(1024) {
                        min-height: 400px;
                    }
                    @include breakpoint(768) {
                        min-height: 300px;
                    }
                    @include breakpoint(575) {
                        min-height: 220px;
                    }
                }
            }
        }
        .sb-hero-content {
            width: 100%;
            max-width: 825px;
        }
    }
}

.sb-dis-confirmation {

    .sb-dis-confirmation-list {
        gap: 30px;

        @include breakpoint(1024) {
            flex-wrap: wrap;
        }

        .dis-confirmation-item {
            width: 40%;
            flex-grow: 1;
            gap: 18px;

            @include breakpoint(1024) {
                width: 100%;
            }

            @include breakpoint(575) {
                flex-direction: column;
                align-items: center;
            }

            .dis-confirmation-content {
                @include breakpoint(575) {
                    width: fit-content;
                    margin: 0 auto;
                    text-align: center;

                    &:has(ul) {
                        text-align: start;
                    }
                }

                h4 {
                    margin: 0;
                }
                p {
                    color: $white;
                    @include font(16, 24);
                }
                ul {
                    margin-left: 25px;
                }
            }

        }
    }

}

// ********** Blog Page Style *********** //
// Blog hero style 
.hero-blog {
    margin-top: 160px;
    padding-bottom: 150px;
    min-height: 540px;

    @include minbreakpoint(1025) {
        overflow: visible;
        overflow-x: clip;
    }
    
    @include breakpoint(1280) {
        margin-top: 100px;
        padding-bottom: 120px;
    }
    @include breakpoint(1024) {
        margin-top: 60px;
        min-height: 450px;
        padding-bottom: 100px;
    }
    @include breakpoint(768) {
        margin-top: 30px;
        min-height: 400px;
        padding-bottom: 80px;
    }

    .blog-hero-content {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        p {
            @include font(16, 24);
            color: #fff;
            text-shadow: 0px 4px 4px #0000001A;
        }
    }
}

// SB BLOG style 
.sb-blog {
    z-index: 2;

    .sb-blog-search {
        h2 {
            color: $white;
            margin-bottom: 27px;
        }
        .sb-blog-seach-form {

            form {
                background: #E1E1E1;
                padding: 3.5px;
                border-radius: 40px;
                width: 100%;
                max-width: 717px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .screen-reader-text {
                    border: 0;
                    clip: rect(1px, 1px, 1px, 1px);
                    clip-path: inset(50%);
                    height: 49px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 207px;
                    word-wrap: normal !important;
                }
                label {
                    width: 50%;
                    flex-grow: 1;
                    text-align: start
                }
                input {
                    width: 100%;
                    @include font(16, 24);
                    font-weight: 600;
                    color: #5B5B5B;
                    background: transparent;
                    padding: 10px;
                }
                input[type="submit"] {
                    @include font(14, 24);
                    color: $white;
                    background: $secondary;
                    max-width: 144px;
                    border-radius: 40px;
                    @extend .transition , .cursor-pointer;

                    &:hover {
                        background: #363179;
                    }

                }
            }
        }
    }
    .sb-blog-tab-buttons {
        padding-top: 40px;
        column-gap: 12px;
        row-gap: 27px;

        @include breakpoint(768) {
            padding-top: 30px;
        }

        .sb-button {
            min-width: fit-content;
            padding: 10px;
            padding-left: 60px;
            border: 0;
            @extend .cursor-pointer;

            @include breakpoint(575) {
                padding-left: 10px;
            }
        }
    }
    .sb-blog-tab-select {
        padding-top: 30px;

        select {
            @include font(18, 24);
            padding: 10px;
            border-radius: 5px;
            option {
               color: #000;
            }
        }
    }
    .sb-blog-list {
        column-gap: 20px;
        row-gap: 50px;
        padding-top: 150px;

        @include breakpoint(1024) {
            padding-top: 100px;
            row-gap: 30px;
        }
        @include breakpoint(768) {
            padding-top: 50px;
        }

        .sb-post-card {
            width: 26%;
            flex-grow: 1;

            @include breakpoint(1024) {
                width: 40%;
            }
            @include breakpoint(768) {
                width: 100%;
            }

            .sb-card-contents-wrapper {

                .sb-card-image {
                    padding: 0;
                    background-image: none;
                    
                    a {
                        @extend .d-flex;
                        overflow: hidden;
                        border-radius: 30px 30px 0 0;
                        
                        img {
                            @extend .transition;
                        }
                        &:hover {
    
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .sb-card-content {
                    padding: 50px 30px 20px;

                    @include breakpoint(1024) {
                        padding: 30px 20px 15px;
                    }
                    @include breakpoint(575) {
                        padding: 20px 10px 10px;
                    }

                    .sb-blog-title {
                        h3 {
                            @extend .transition;
                        }
                        &:hover {
                            h3 {
                                color: $secondary;
                            }
                        }
                    }

                }
            }
        }
    }
}

// ********** Single Blog Page Style *********** //
// Single Blog hero style 
.hero-single-blog  {
    margin-top: 130px;
    padding-bottom: 120px;

    @include minbreakpoint(1025) {
        overflow: visible;
        overflow-x: clip;
    }
    
    @include breakpoint(1280) {
        margin-top: 100px;
    }
    @include breakpoint(1024) {
        margin-top: 60px;

    }
    @include breakpoint(768) {
        margin-top: 30px;
    }

    .blog-hero-content {

        h1 {
            @include font(40, 60);
            color: $white;

            @include breakpoint(1024) {
                @include font(32, 44);
            }
            @include breakpoint(768) {
                @include font(26, 38);
            }
        }
        p {
            @include font(16, 24);
            color: $white;
        }
        .sb-post-meta {
            gap: 18px;
            @include font(16, 24);
            color: $white;

            @include breakpoint(428) {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            span {
                &:not(:first-child) {
                    @extend .relative;
                    
                    @include minbreakpoint(429) {
                        padding-left: 32px;

                        &:before {
                            position: absolute;
                            content: "";
                            width: 16px;
                            height: 16px;
                            top: calc(50% - 8px);
                            left: 0;
                            background: linear-gradient(90deg, #7970E9 -9.38%, #A08DF3 115.62%);
                            border-radius: 50%;
                        }
                    }
                }
            }

        }
        .sb-blog-feature {
            width: 100%;
            max-width: 570px;
            margin: 0 auto;
            padding-top: 30px;
            
            img {
                width: 100%;
                border-radius: 30px;
            }
        }
    }
}

// Single Blog Content 
.sb-single-blog-contents {
    background: #ffffff;

    .container {
        min-width: 1420px;
    }
}