* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  max-width: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: 17px;
  line-height: 31px;
  font-family: "Poppins", sans-serif;
  color: #D9D9D9;
  background: #171717;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 30px;
  }
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.admin-bar header {
  top: 32px;
}
@media only screen and (max-width: 768px) {
  .admin-bar header {
    top: 46px;
  }
}

.d-none {
  display: none !important;
}

.d-flex, .sb-about .sb-row .sb-media, .sb-who-we-help .sb-row .sb-service-list, .sb-who-we-help .sb-row .sb-section-title .sb-media, .sb-footer .sb-footer-bottom .sb-row .sb-footer-menu-bottom ul li a, .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form, .sb-header .sb-main-header .menu-site ul, .sb-header .sb-main-header .hamburger-menu, .sb-header .sb-main-header .logo-site .sb-logo, .sb-image-box, .sb-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.text-center {
  text-align: center;
}

.text-end, .sb-image-box.image-position-right .sb-image-box-content {
  text-align: right !important;
}

.text-start {
  text-align: left !important;
}

.align-center, .sb-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between, .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form, .sb-image-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center, .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow .sb-social-icons ul li a, .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form .submit-button, .sb-header .sb-main-header .menu-site ul li.sb-book-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col, .sb-who-we-help .sb-row .sb-service-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sb-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.unstyle, .sb-footer .sb-main-footer .sb-row .sb-footer-Company ul,
.sb-footer .sb-main-footer .sb-row .sb-footer-Services ul {
  padding: 0;
  margin: 0;
}
.unstyle li, .sb-footer .sb-main-footer .sb-row .sb-footer-Company ul li,
.sb-footer .sb-main-footer .sb-row .sb-footer-Services ul li {
  list-style: none;
}

.margin_bottom-0 {
  margin-bottom: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.transition, .sb-about .sb-row .sb-media .sb-media-badge h4 a, .sb-footer .sb-footer-bottom .sb-row .sb-footer-menu-bottom ul li a, .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow .sb-social-icons ul li a, .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form .submit-button, .sb-footer .sb-main-footer .sb-row .sb-footer-Company ul li a,
.sb-footer .sb-main-footer .sb-row .sb-footer-Services ul li a, .sb-header .sb-main-header .menu-site ul li.sb-book-btn a, .sb-header .sb-main-header .menu-site ul li a, .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content ul li a, .sb-card .sb-card-contents-wrapper .sb-card-content .sb-card-btn a, .sb-simple-btn:after, .sb-button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.relative, .sb-about .sb-row .sb-media, .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2, .sb-card .sb-card-contents-wrapper, .sb-simple-btn, .sb-button.icon-position-left, .sb-button, section {
  position: relative;
}

.absolute {
  position: absolute;
}

.mid-align {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.margin-0 h1,
.margin-0 h2,
.margin-0 h3,
.margin-0 h4,
.margin-0 h5,
.margin-0 h6,
.margin-0 p,
.margin-0 span {
  margin: 0;
}

.m-auto {
  margin: 0 auto;
}

@media only screen and (min-width: 1025px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hide-tab {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 575px) {
  .text-center-mobile {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  background: linear-gradient(99.23deg, #7970E9 39.51%, #A08DF3 47.5%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 span,
h2 span,
h3 span {
  -webkit-text-fill-color: #6FF2D8;
}

h1,
h2 {
  font-size: 50px;
  line-height: 62px;
}
@media only screen and (max-width: 1024px) {
  h1,
  h2 {
    font-size: 40px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
}

h3 {
  font-size: 24px;
  line-height: 36px;
}
@media only screen and (max-width: 1024px) {
  h3 {
    font-size: 22px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 32px;
  }
}

h4 {
  font-size: 22px;
  line-height: 34px;
}
@media only screen and (max-width: 1024px) {
  h4 {
    font-size: 20px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 768px) {
  h4 {
    font-size: 18px;
    line-height: 30px;
  }
}

.width-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#2C2C31), to(transparent));
  background-image: linear-gradient(transparent, #2C2C31, transparent);
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1475px;
  margin: 0 auto;
  padding: 0 25px;
}

.hero-bg {
  background-image: url(../images/Salon-Boss-hreo-bg.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sb-header-gutter {
  padding-top: var(--header-height);
}

.sb-hero-content p {
  font-size: 18px;
  line-height: 34px;
}
@media only screen and (max-width: 768px) {
  .sb-hero-content p {
    font-size: 16px;
    line-height: 30px;
  }
}

.sb-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 56px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 15px;
  color: #070825;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 100px;
}
@media only screen and (max-width: 575px) {
  .sb-button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
.sb-button.button-icon-phone::after {
  position: absolute;
  width: 38px;
  height: 38px;
  top: calc(50% - 19px);
  content: url(../images/vectors/phone-icon.svg);
}
.sb-button.button-icon-scissor::after {
  position: absolute;
  width: 38px;
  height: 38px;
  top: calc(50% - 19px);
  content: url(../images/vectors/scissor-icon.svg);
}
.sb-button.icon-position-right {
  padding-right: 64px;
}
@media only screen and (max-width: 575px) {
  .sb-button.icon-position-right {
    padding: 15px;
  }
}
.sb-button.icon-position-right::after {
  right: 15px;
}
@media only screen and (max-width: 575px) {
  .sb-button.icon-position-right::after {
    position: inherit;
    top: inherit;
    right: inherit;
  }
}
.sb-button.button-bg-green {
  background: #6FF2D8;
}
.sb-button.button-bg-green:hover {
  background: #FBDCD1;
}
.sb-button.button-bg-pink {
  background: #FBDCD1;
}
.sb-button.button-bg-pink:hover {
  background: #6FF2D8;
}
.sb-button.icon-position-left {
  padding-left: 64px;
}
@media only screen and (max-width: 575px) {
  .sb-button.icon-position-left {
    padding-left: inherit;
  }
}
.sb-button.icon-position-left:before {
  position: absolute;
  width: 38px;
  height: 38px;
  top: calc(50% - 19px);
  left: 15px;
  content: url(../images/vectors/phone-icon.svg);
}
@media only screen and (max-width: 575px) {
  .sb-button.icon-position-left:before {
    padding: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .sb-button.icon-position-left:before {
    position: inherit;
    top: inherit;
    right: inherit;
  }
}

.sb-simple-btn {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #6FF2D8;
  padding-right: 22px;
}
.sb-simple-btn:after {
  position: absolute;
  content: "";
  width: 17px;
  height: 12px;
  -webkit-mask: url(../images/vectors/right-arrow.svg);
          mask: url(../images/vectors/right-arrow.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: #6FF2D8;
  right: 0;
  top: calc(50% - 5px);
}
.sb-simple-btn:hover::after {
  right: -10px;
}

.sb-image-box {
  gap: 20px;
}
@media only screen and (max-width: 575px) {
  .sb-image-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
.sb-image-box .sb-image-box-media {
  width: 25%;
}
@media only screen and (max-width: 575px) {
  .sb-image-box .sb-image-box-media {
    width: 50%;
  }
}
.sb-image-box .sb-image-box-media img {
  width: 100%;
}
.sb-image-box .sb-image-box-content {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (max-width: 575px) {
  .sb-image-box .sb-image-box-content {
    width: 100%;
    text-align: center;
  }
}
.sb-image-box .sb-image-box-content h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .sb-image-box .sb-image-box-content h4 {
    font-size: 20px;
    line-height: 32px;
  }
}
.sb-image-box .sb-image-box-content p {
  margin-bottom: 10px;
}
.sb-image-box.image-position-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media only screen and (max-width: 575px) {
  .sb-image-box.image-position-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 575px) {
  .sb-image-box.image-position-right .sb-image-box-content {
    text-align: center !important;
  }
}
.sb-image-box.image-position-right .sb-simple-btn {
  padding-right: inherit;
  padding-left: 22px;
}
.sb-image-box.image-position-right .sb-simple-btn::after {
  right: inherit;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sb-image-box.image-position-right .sb-simple-btn:hover::after {
  left: -10px;
}
.sb-image-box.image-position-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sb-image-box.image-position-top .sb-image-box-content {
  text-align: center;
}

.sb-section-title h5 {
  font-size: 17px;
  line-height: 29px;
  color: #FFEAB3;
  font-weight: 700;
  letter-spacing: 0.16px;
  margin-bottom: 17px;
}
.sb-section-title h3 {
  font-size: 48px;
  line-height: 62px;
  -webkit-text-fill-color: #ffffff;
  margin-bottom: 17px;
}
@media only screen and (max-width: 1024px) {
  .sb-section-title h3 {
    font-size: 40px;
    line-height: 52px;
  }
}
@media only screen and (max-width: 768px) {
  .sb-section-title h3 {
    font-size: 30px;
    line-height: 42px;
  }
}
.sb-section-title p {
  font-size: 18px;
  line-height: 34px;
}
@media only screen and (max-width: 768px) {
  .sb-section-title p {
    font-size: 16px;
    line-height: 28px;
  }
}

.sb-card {
  width: 510px;
  padding-left: 70px;
}
@media only screen and (max-width: 575px) {
  .sb-card {
    padding-left: inherit;
    padding-top: 70px;
  }
}
.sb-card .sb-card-contents-wrapper {
  padding: 10px 20px;
  padding-bottom: var(--sb-card-btn-height);
  background-image: url(../images/Salon-Boss-card-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  gap: 25px;
  border: 1px solid #6FF2D8;
  z-index: 1;
}
@media only screen and (max-width: 575px) {
  .sb-card .sb-card-contents-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
.sb-card .sb-card-contents-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: var(--sb-card-btn-height);
  left: 0;
  bottom: 0;
  background: linear-gradient(103.74deg, #7970E9 61.34%, #A08DF3 73.28%);
  border-radius: 0 0 30px 30px;
  z-index: -1;
}
.sb-card .sb-card-contents-wrapper .sb-card-image {
  width: 100%;
  max-width: 150px;
  margin-left: -90px;
}
@media only screen and (max-width: 575px) {
  .sb-card .sb-card-contents-wrapper .sb-card-image {
    margin-left: inherit;
    margin-top: -70px;
  }
}
.sb-card .sb-card-contents-wrapper .sb-card-content {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (max-width: 575px) {
  .sb-card .sb-card-contents-wrapper .sb-card-content {
    width: 100%;
  }
}
.sb-card .sb-card-contents-wrapper .sb-card-content h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61.02%, #171717), color-stop(76.61%, #2C2C31), color-stop(96.03%, #1B1B1C));
  background: linear-gradient(180deg, #171717 61.02%, #2C2C31 76.61%, #1B1B1C 96.03%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sb-card .sb-card-contents-wrapper .sb-card-content h4 span {
  font-size: 13px;
  line-height: 20px;
}
.sb-card .sb-card-contents-wrapper .sb-card-content p {
  font-size: 14px;
  line-height: 25px;
  color: #000000;
}
.sb-card .sb-card-contents-wrapper .sb-card-content .sb-card-btn {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 2px;
  text-align: center;
  padding: 0 30px;
}
.sb-card .sb-card-contents-wrapper .sb-card-content .sb-card-btn a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.sb-card .sb-card-contents-wrapper .sb-card-content .sb-card-btn a:hover {
  color: #6FF2D8;
}
.sb-card.sb-card-large {
  width: 100%;
  max-width: 1145px;
  margin: 0 auto;
  padding-left: 130px;
}
@media only screen and (max-width: 768px) {
  .sb-card.sb-card-large {
    padding-left: 0;
    padding-top: 100px;
  }
}
.sb-card.sb-card-large .sb-card-contents-wrapper {
  background-image: url(../images/Salon-Boss-card-large-bg.png);
  border: 1px solid #766EE8;
}
@media only screen and (max-width: 768px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-image {
  max-width: 280px;
  margin-left: -140px;
}
@media only screen and (max-width: 768px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-image {
    margin-left: 0;
    margin-top: -100px;
  }
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content {
  width: 100%;
  max-width: 610px;
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2 {
  margin: 5px;
  padding-right: 70px;
}
@media only screen and (max-width: 1024px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2 {
    padding-right: 56px;
  }
}
@media only screen and (max-width: 768px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2 {
    padding-right: 43px;
  }
}
@media only screen and (max-width: 575px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2 {
    font-size: 26px;
    line-height: 36px;
    padding-right: 36px;
  }
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2:after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  background-image: url(../images/Salon-Boss-star-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1024px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2:after {
    width: 56px;
    height: 56px;
  }
}
@media only screen and (max-width: 768px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2:after {
    width: 43px;
    height: 43px;
  }
}
@media only screen and (max-width: 575px) {
  .sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h2:after {
    width: 36px;
    height: 36px;
  }
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content p {
  color: #fff;
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content ul {
  gap: 10px;
  margin-bottom: 20px;
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content ul li a {
  background: #6FF2D8;
  color: #070825;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 100px;
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content ul li a:hover {
  color: #fff;
  background: #766EE8;
}
.sb-card.sb-card-large .sb-card-contents-wrapper .sb-card-content ul li.active a {
  color: #fff;
  background: #766EE8;
}

.sb-header {
  overflow-x: clip;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
}
.sb-header .sb-main-header {
  padding: 65px 0;
}
@media only screen and (max-width: 12080px) {
  .sb-header .sb-main-header {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .sb-header .sb-main-header {
    padding: 20px 0;
  }
}
.sb-header .sb-main-header .logo-site .sb-logo img {
  width: 100%;
  max-width: 150px;
}
.sb-header .sb-main-header .hamburger-menu {
  width: 30px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.sb-header .sb-main-header .hamburger-menu span {
  width: 100%;
  height: 3px;
  background: #766EE8;
}
@media only screen and (max-width: 1024px) {
  .sb-header .sb-main-header .menu-site {
    position: absolute;
    background: #766EE8;
    width: calc(100% - 50px);
    left: 200%;
    top: var(--header-height);
    padding: 50px;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 768px) {
  .sb-header .sb-main-header .menu-site {
    padding: 35px;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 575px) {
  .sb-header .sb-main-header .menu-site {
    padding: 25px;
  }
}
.sb-header .sb-main-header .menu-site ul {
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1280px) {
  .sb-header .sb-main-header .menu-site ul {
    gap: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .sb-header .sb-main-header .menu-site ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
.sb-header .sb-main-header .menu-site ul li {
  list-style: none;
}
.sb-header .sb-main-header .menu-site ul li a {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #DCCCF6;
}
.sb-header .sb-main-header .menu-site ul li a:hover {
  color: #6FF2D8;
}
.sb-header .sb-main-header .menu-site ul li.current-menu-item a {
  color: #6FF2D8;
}
.sb-header .sb-main-header .menu-site ul li.sb-book-btn a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
  gap: 6px;
  padding: 10px;
  color: #070825;
  background: #FBDCD1;
  border-radius: 100px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .sb-header .sb-main-header .menu-site ul li.sb-book-btn a {
    margin-top: 10px;
  }
}
.sb-header .sb-main-header .menu-site ul li.sb-book-btn a::before {
  content: url(../images/vectors/phone-icon.svg);
  width: 38px;
  height: 38px;
}
.sb-header .sb-main-header .menu-site ul li.sb-book-btn a:hover {
  background: #6FF2D8;
}
.sb-header.sticky {
  background: #181818;
  -webkit-box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.25);
}
.sb-header.sticky .sb-main-header {
  padding: 30px;
}
@media only screen and (max-width: 12080px) {
  .sb-header.sticky .sb-main-header {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 1024px) {
  .sb-header.sticky .sb-main-header {
    padding: 10px 0;
  }
}
.sb-header.sticky .sb-main-header .menu-site {
  margin-top: -20px;
}
@media only screen and (max-width: 1024px) {
  .sb-header.sb-mobile-menu-active .hamburger-menu {
    position: relative;
  }
  .sb-header.sb-mobile-menu-active .hamburger-menu span {
    position: absolute;
    left: 0;
    top: calc(50% - 1.5px);
  }
  .sb-header.sb-mobile-menu-active .hamburger-menu span:nth-child(2) {
    display: none;
  }
  .sb-header.sb-mobile-menu-active .hamburger-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .sb-header.sb-mobile-menu-active .hamburger-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .sb-header.sb-mobile-menu-active .sb-main-header .menu-site {
    left: 25px;
  }
}

.sb-footer {
  margin-top: 200px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 36, 0)), to(#7A71EA));
  background-image: linear-gradient(rgba(33, 33, 36, 0), #7A71EA);
}
@media only screen and (max-width: 1280px) {
  .sb-footer {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .sb-footer {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .sb-footer {
    margin-top: 60px;
  }
}
.sb-footer .sb-footer-top {
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 768px) {
  .sb-footer .sb-footer-top .sb-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
.sb-footer .sb-footer-top .sb-row .sb-footer-logo a img {
  width: 100%;
  max-width: 112px;
}
.sb-footer .sb-footer-top .sb-row .ready-get-start {
  gap: 50px;
}
@media only screen and (max-width: 575px) {
  .sb-footer .sb-footer-top .sb-row .ready-get-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
.sb-footer .sb-footer-top .sb-row .ready-get-start h4 {
  margin: 0;
}
.sb-footer .sb-main-footer {
  padding: 40px 0 30px;
}
@media only screen and (max-width: 1200px) {
  .sb-footer .sb-main-footer {
    padding: 30px 0;
  }
}
.sb-footer .sb-main-footer .sb-row {
  gap: 20px;
}
@media only screen and (max-width: 1200px) {
  .sb-footer .sb-main-footer .sb-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.sb-footer .sb-main-footer .sb-row .sb-footer-about,
.sb-footer .sb-main-footer .sb-row .sb-footer-Company,
.sb-footer .sb-main-footer .sb-row .sb-footer-Services,
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow {
  width: 20%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (max-width: 768px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-about,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Company,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Services,
  .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow {
    width: 40%;
  }
}
@media only screen and (max-width: 575px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-about,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Company,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Services,
  .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow {
    width: 100%;
    text-align: center;
  }
}
.sb-footer .sb-main-footer .sb-row .sb-footer-about h4,
.sb-footer .sb-main-footer .sb-row .sb-footer-Company h4,
.sb-footer .sb-main-footer .sb-row .sb-footer-Services h4,
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 17px;
}
@media only screen and (max-width: 575px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-about h4,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Company h4,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Services h4,
  .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow h4 {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 1200px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-about {
    width: 100%;
  }
}
.sb-footer .sb-main-footer .sb-row .sb-footer-about p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #C8C8C8;
}
@media only screen and (max-width: 1200px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-Company,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Services {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-Company,
  .sb-footer .sb-main-footer .sb-row .sb-footer-Services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sb-footer .sb-main-footer .sb-row .sb-footer-Company ul li a,
.sb-footer .sb-main-footer .sb-row .sb-footer-Services ul li a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #C8C8C8;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-Company ul li a:hover,
.sb-footer .sb-main-footer .sb-row .sb-footer-Services ul li a:hover {
  color: #6FF2D8;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow {
  width: 30%;
}
@media only screen and (max-width: 1200px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 575px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow {
    margin-top: 0;
  }
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow p {
  font-size: 16px;
  line-height: 34px;
  color: #C8C8C8;
  margin-bottom: 10px;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form {
  background: #EDEDED;
  border: 2px solid #EDEDED;
  border-radius: 100px;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form input {
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  color: #979797;
  padding: 6px 10px 6px 30px;
  background: #EDEDED;
  border-radius: 100px 0 0 100px;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form .submit-button {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #fff;
  background: #766EE8;
  width: 100%;
  max-width: 144px;
  min-width: 110px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow form .submit-button:hover {
  background: #000000;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow .sb-social-icons {
  margin-top: 25px;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow .sb-social-icons ul {
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  .sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow .sb-social-icons ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow .sb-social-icons ul li a {
  width: 36px;
  height: 36px;
  background: rgba(243, 243, 243, 0.1098039216);
  border-radius: 50%;
}
.sb-footer .sb-main-footer .sb-row .sb-footer-subscribe-follow .sb-social-icons ul li a:hover {
  background: #000000;
}
.sb-footer .sb-footer-bottom {
  background: rgba(3, 4, 5, 0.5019607843);
  padding: 12px 0;
}
.sb-footer .sb-footer-bottom .sb-row {
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .sb-footer .sb-footer-bottom .sb-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sb-footer .sb-footer-bottom .sb-row .copy-right-text p {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: #fff;
}
.sb-footer .sb-footer-bottom .sb-row .sb-footer-menu-bottom ul {
  gap: 23px;
}
@media only screen and (max-width: 1024px) {
  .sb-footer .sb-footer-bottom .sb-row .sb-footer-menu-bottom ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 575px) {
  .sb-footer .sb-footer-bottom .sb-row .sb-footer-menu-bottom ul {
    gap: 12px;
  }
}
.sb-footer .sb-footer-bottom .sb-row .sb-footer-menu-bottom ul li a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
}
.sb-footer .sb-footer-bottom .sb-row .sb-footer-menu-bottom ul li a:hover {
  text-decoration: underline;
}

.hero-home {
  margin-top: var(--header-height);
}
@media only screen and (max-width: 1024px) {
  .hero-home {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-home {
    margin-top: 40px;
  }
}
.hero-home .container {
  gap: 80px;
}
@media only screen and (max-width: 1024px) {
  .hero-home .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-row: 50;
    grid-area: 50px;
  }
}
.hero-home .container .sb-hero-content {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (max-width: 1024px) {
  .hero-home .container .sb-hero-content {
    width: 100%;
  }
}
.hero-home .container .sb-hero-content h1 {
  -webkit-text-fill-color: #ffffff;
}
.hero-home .container .sb-hero-content .sb-buttons {
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}
@media only screen and (max-width: 768px) {
  .hero-home .container .sb-hero-content .sb-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero-home .container .sb-hero-content .sb-trusted-customer {
  padding-top: 85px;
}
@media only screen and (max-width: 1024px) {
  .hero-home .container .sb-hero-content .sb-trusted-customer {
    padding-top: 40px;
  }
}
.hero-home .container .sb-hero-content .sb-trusted-customer h5 {
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
  letter-spacing: 0.16px;
}
.hero-home .container .sb-hero-content .sb-trusted-customer .trusted-customer-logo {
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  .hero-home .container .sb-hero-content .sb-trusted-customer .trusted-customer-logo {
    gap: 20px;
  }
}
.hero-home .container .hero-image {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 70px;
}
@media only screen and (max-width: 1024px) {
  .hero-home .container .hero-image {
    width: 100%;
    padding-bottom: 40px;
  }
}
.hero-home .container .hero-image img {
  width: 100%;
  max-width: 606px;
}

.sb-service-slider {
  background: #6FF2D8;
  padding: 22px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.sb-service-slider .inner-slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
}
.sb-service-slider p {
  background: #ffffff;
  color: #000000;
  font-size: 17px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 10px;
  text-align: center;
  margin: 0 22px 0 0;
  border-radius: 5px;
  min-width: 60px;
}

.sb-who-we-help {
  margin: 200px 0 40px;
}
@media only screen and (max-width: 1024px) {
  .sb-who-we-help {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .sb-who-we-help {
    margin-top: 60px;
  }
}
.sb-who-we-help .sb-row {
  gap: 28px;
}
@media only screen and (max-width: 1024px) {
  .sb-who-we-help .sb-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
}
.sb-who-we-help .sb-row .sb-section-title {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (max-width: 1024px) {
  .sb-who-we-help .sb-row .sb-section-title {
    width: 100%;
  }
}
.sb-who-we-help .sb-row .sb-section-title .sb-media {
  width: 100%;
  max-width: 530px;
  background: linear-gradient(103.74deg, #7970E9 61.34%, #A08DF3 73.28%);
  border-radius: 215px 215px 0 0;
  margin-top: 40px;
}
@media only screen and (max-width: 1024px) {
  .sb-who-we-help .sb-row .sb-section-title .sb-media {
    margin: 40px auto 0;
  }
}
.sb-who-we-help .sb-row .sb-section-title .sb-media img {
  margin-top: -40px;
  margin-left: -60px;
}
@media only screen and (max-width: 768px) {
  .sb-who-we-help .sb-row .sb-section-title .sb-media img {
    margin: 0;
  }
}
.sb-who-we-help .sb-row .sb-service-list {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 55px;
}
@media only screen and (max-width: 1024px) {
  .sb-who-we-help .sb-row .sb-service-list {
    width: 100%;
    gap: 40px;
  }
}

.services-overview {
  background-image: url(../images/Salon-Boss-section-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 200px 0 40px;
}
@media only screen and (max-width: 1280px) {
  .services-overview {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .services-overview {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .services-overview {
    margin-top: 60px;
  }
}
.services-overview .container {
  max-width: 1680px;
}
.services-overview .container .sb-section-title {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}
.services-overview .container .overview-card-list {
  margin-top: 90px;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 65px;
}
@media only screen and (max-width: 1024px) {
  .services-overview .container .overview-card-list {
    row-gap: 40px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .services-overview .container .overview-card-list {
    row-gap: 25px;
    margin-top: 30px;
  }
}

.sb-about {
  margin: 180px 0 80px;
}
@media only screen and (max-width: 1280px) {
  .sb-about {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .sb-about {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .sb-about {
    margin-top: 60px;
  }
}
.sb-about .sb-row {
  gap: 80px;
}
@media only screen and (max-width: 1024px) {
  .sb-about .sb-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .sb-about .sb-row {
    gap: 40px;
  }
}
.sb-about .sb-row .sb-section-title {
  width: 51%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media only screen and (max-width: 1024px) {
  .sb-about .sb-row .sb-section-title {
    width: 100%;
  }
}
.sb-about .sb-row .sb-section-title .sb-row {
  margin: 5px 0 28px;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sb-about .sb-row .sb-section-title .sb-row .sb-simple-card {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fff;
  padding: 25px 20px 5px;
}
@media only screen and (max-width: 1280px) {
  .sb-about .sb-row .sb-section-title .sb-row .sb-simple-card {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .sb-about .sb-row .sb-section-title .sb-row .sb-simple-card {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .sb-about .sb-row .sb-section-title .sb-row .sb-simple-card {
    width: 100%;
  }
}
.sb-about .sb-row .sb-section-title .sb-row .sb-simple-card h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #000;
}
.sb-about .sb-row .sb-section-title .sb-row .sb-simple-card p {
  color: #5B5B5B;
}
.sb-about .sb-row .sb-section-title .sb-buttons {
  gap: 18px;
}
@media only screen and (max-width: 575px) {
  .sb-about .sb-row .sb-section-title .sb-buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.sb-about .sb-row .sb-section-title .sb-buttons .more-about-btn {
  min-width: 216px;
}
.sb-about .sb-row .sb-media {
  width: 44%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 80px;
  margin-left: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FBD79A), color-stop(56.5%, #E6B7D4), to(#FFEAB3));
  background: linear-gradient(180deg, #FBD79A 0%, #E6B7D4 56.5%, #FFEAB3 100%);
  border-radius: 215px 215px 2px 2px;
}
@media only screen and (max-width: 1024px) {
  .sb-about .sb-row .sb-media {
    width: 100%;
    max-width: 600px;
    margin: 80px auto 0;
  }
}
@media only screen and (max-width: 768px) {
  .sb-about .sb-row .sb-media {
    max-width: 100%;
    margin: 80px 0 0 50px;
  }
}
@media only screen and (max-width: 575px) {
  .sb-about .sb-row .sb-media {
    margin: 80px auto 0;
  }
}
.sb-about .sb-row .sb-media img {
  margin-top: -85px;
}
.sb-about .sb-row .sb-media .sb-media-badge {
  padding: 16px 11px;
  background: #fff;
  -webkit-box-shadow: 0px 3.69px 7.39px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 3.69px 7.39px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 15px;
  position: absolute;
  left: -50px;
  bottom: 40px;
}
@media only screen and (max-width: 575px) {
  .sb-about .sb-row .sb-media .sb-media-badge {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: 0;
    right: 0;
    bottom: -33px;
    margin: 0 auto;
  }
}
.sb-about .sb-row .sb-media .sb-media-badge h4 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  color: #191825;
  margin: 0;
}
.sb-about .sb-row .sb-media .sb-media-badge h4 a {
  color: #766EE8;
  font-size: 22px;
}
.sb-about .sb-row .sb-media .sb-media-badge h4 a:hover {
  color: #6FF2D8;
}

.resource-center-section {
  margin: 200px 0 40px;
}
@media only screen and (max-width: 1280px) {
  .resource-center-section {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .resource-center-section {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .resource-center-section {
    margin-top: 60px;
  }
}